.display_label{
	font-size: smaller;
}

.number_display{
	font-size: larger;
	font-weight: bold;
}

#footer{
	text-align: center;
}

#footer a{
	text-decoration: none;
}

.footer_logo{
	height: 80px;
	padding: 15px;
}

#conducting_loudness_analysis{
	text-align: center;
}

#assessment_emoji_wrapper{
	text-align: center;
	font-size: 48pt;
}

#assessment_title_container{
	margin-bottom: 5px;
}

.statsTable{
	margin: 20px auto;
}
